<ul class="ulDotList">
  <li>
    <p></p>
    <p>
      <span>〒134-0083</span>
      <span class="ml_10">東京都江戸川区中葛西7-8-8-501</span>
    </p>
    <p>
      <span>TEL：03-6666-5296</span>
      <span class="ml_10">FAX：03-6666-5298</span>
    </p>
    <p class="mb_10">
     Email:
     <a>aaaa@o.co.jp</a>
    </p>
  </li>
  <li>
    <p></p>
    <p>
      <span>〒122-0083</span>
      <span class="ml_10">東京都中葛西7-8-8-501</span>
    </p>
    <p>
      <span>TEL：03-6666-1111</span>
      <span class="ml_10">FAX：03-2222-5298</span>
    </p>
    <p class="mb_10">
     Email:
     <a>bbbb@o.co.jp</a>
    </p>
  </li>
</ul>